#bottom-space{
	height: 55%;
	width: 100%;
	background-color: rgb(240, 255, 255);
}

#above-space{
	height: 35%;
	width: 100%;
	background-color: rgb(240, 255, 255);
}

ul{
	display: inline-block;
	list-style-type: none;
	margin: 0px;
	padding: 0px;
	font-size: 24px;
}

li{
	display: inline-block;
	padding: 0px 10px;
}

h1 span{
	color: red;
	font-weight: bold;
}

p span{
	color: cyan;
}

p a{
	color: cyan;
}

#contact-screen{
	color: white;
}

.icon{
	width: 100px;
	padding: 0px 10px;
}

@media(max-width:480px){

	body{
	/*background-color: white;*/
	background-image: url('gray_wood.jpg');
	}

	#content{
		text-align: center;
		/*color: rgb(240,255,255);*/
		color: black;
	}

	.title{
		background-color: rgba(255,255,255,.5);
		font-family: 'Inconsolata';
	}

	#header{
		background-color: rgb(240, 255, 255);
		text-align: center;
	}

	#smile{
		width: 100px;
	}

	.project{
		margin-top: 20px;
	}

	.description{
		background-color: black;
		opacity: 0;
		color: white;
		display: inline-block;
		width: 380px;
		height: 100%;
		padding: 10px;
		position: absolute;
	}

	button{
		border: 0px;
		background-color: transparent;
		font-family: 'Ropa Sans', sans-serif;
	}

	button:focus{
	    outline: 0;
	}

	.thumb{
		width: 380px;
		padding: 2px;
		background-color: rgb(90,90,90);
	}

	#gradpic{
		width: 90%;
	}

	#about-lg{
   		position: relative; 
   		overflow: hidden;
   	}

   	#about-screen-lg{
   		position: absolute;
		top: 0; left: 5%;
		background-color: rgba(0,0,0,.8);
		height: 100%;
		width: 90%;
		overflow: scroll;
   	}

   	#about-text-lg{
   		text-align: left;
   		color: white;
   		display: inline-block;
   		padding: 10% 20px;
   	}
}

@media(min-width:481px) and (max-width:767px){

	body{
	/*background-color: red;*/
	background-image: url('gray_wood.jpg');
	}

	#content{
		text-align: center;
		/*color: rgb(240,255,255);*/
		color: black;
	}

	.title{
		background-color: rgba(255,255,255,.5);
		font-family: 'Inconsolata';
	}

	#header{
		background-color: rgb(240, 255, 255);
		text-align: center;
	}

	#smile{
		width: 100px;
	}

	.project{
		margin-top: 20px;
	}

	.description{
		background-color: black;
		opacity: 0;
		color: white;
		display: inline-block;
		width: 85%;
		height: 100%;
		padding: 10px;
		position: absolute;
	}

	button{
		border: 0px;
		background-color: transparent;
		font-family: 'Ropa Sans', sans-serif;
	}

	button:focus{
	    outline: 0;
	}

	.thumb{
		width: 90%;
		padding: 2px;
		background-color: rgb(90,90,90);
	}

	#gradpic{
		width: 80%;
	}

	#about-lg {
   		position: relative; 
   		overflow: hidden;
   	}

   	#about-screen-lg{
   		position: absolute;
		top: 0; left: 10%;
		background-color: rgba(0,0,0,.8);
		height: 100%;
		width: 80%;
		overflow: scroll;
   	}

   	#about-text-lg{
   		text-align: left;
   		color: white;
   		display: inline-block;
   		padding: 5% 20px;
   	}

   	#about-text-lg h1{
   		font-size: 20px;
   	}

   	#about-text-lg h3{
   		font-size: 16px;
   	}
}

@media(min-width:768px) and (max-width:991px){
	body{
	/*background-color: blue;*/
	background-image: url('gray_wood.jpg');
	}

	#content{
		text-align: center;
		/*color: rgb(240,255,255);*/
		color: black;
	}

	.title{
		background-color: rgba(255,255,255,.5);
		font-family: 'Inconsolata';
	}

	#header{
		background-color: rgb(240, 255, 255);
		text-align: center;
	}

	#smile{
		width: 100px;
	}

	.project{
		margin-top: 20px;
	}

	.description{
		background-color: black;
		opacity: 0;
		color: white;
		display: inline-block;
		width: 68%;
		height: 100%;
		padding: 10px;
		position: absolute;
	}

	.description-mobile{
		background-color: black;
		opacity: .8;
		color: white;
		display: inline-block;
		width: 68%;
		height: 100%;
		padding: 10px;
		position: absolute;
		left: 16%;
	}

	button{
		border: 0px;
		background-color: transparent;
		font-family: 'Ropa Sans', sans-serif;
	}

	button:focus{
	    outline: 0;
	}

	.thumb{
		width: 70%;
		padding: 2px;
		background-color: rgb(90,90,90);
	}

	#about{
		display: inline-block;
		background-image: url('gradpic.jpg');
		background-size: 100%;
		background-repeat: no-repeat;
		width: 584px;
		height: 389px;
	}

	#about-screen{
		background-color: rgba(0,0,0,.8);
		width: 584px;
		height: 389px;
	}

	#about-text{
		margin-top: 20%;
		color: white;
	}

	#gradpic{
		width: 80%;
	}

	#about-lg {
   		position: relative; 
   		overflow: hidden;
   	}

   	#about-screen-lg{
   		position: absolute;
		top: 0; left: 10%;
		background-color: rgba(0,0,0,.8);
		height: 100%;
		width: 80%;
   	}

   	#about-text-lg{
   		text-align: left;
   		color: white;
   		display: inline-block;
   		padding: 5% 20px;
   	}

   	#about-text-lg h1{
   		font-size: 20px;
   	}

   	#about-text-lg h3{
   		font-size: 16px;
   	}
}

@media(min-width:992px) and (max-width:1199px){
	body{
	/*background-color: green;*/
	background-image: url('gray_wood.jpg');
	}

	#content{
		text-align: center;
		/*color: rgb(240,255,255);*/
		color: black;
	}

	.title{
		background-color: rgba(255,255,255,.5);
		font-family: 'Inconsolata';
	}

	#header{
		background-color: rgb(240, 255, 255);
		text-align: center;
	}

	#smile{
		width: 100px;
	}

	.project{
		margin-top: 20px;
	}

	.description{
		background-color: black;
		opacity: 0;
		color: white;
		display: inline-block;
		width: 78.5%;
		height: 100%;
		padding: 10px;
		position: absolute;
	}

	button{
		border: 0px;
		background-color: transparent;
		font-family: 'Ropa Sans', sans-serif;
	}

	button:focus{
	    outline: 0;
	}

	.thumb{
		width: 85%;
		padding: 2px;
		background-color: rgb(90,90,90);
	}

	#gradpic{
		width: 80%;
	}

	#about-lg {
   		position: relative; 
   		overflow: hidden;
   	}

   	#about-screen-lg{
   		position: absolute;
		top: 0; left: 10%;
		background-color: rgba(0,0,0,.8);
		height: 100%;
		width: 80%;
   	}

   	#about-text-lg{
   		text-align: left;
   		color: white;
   		display: inline-block;
   		padding: 5% 20px;
   	}
}

@media(min-width:1200px){
	body{
	/*background-color: rgb(240, 255, 255);*/
	background-image: url('gray_wood.jpg');
	}

	#content{
		text-align: center;
		/*color: rgb(240,255,255);*/
		color: black;
	}

	.title{
		background-color: rgba(255,255,255,.5);
		font-family: 'Inconsolata';
	}

	#header{
		background-color: rgb(240, 255, 255);
		text-align: center;
	}

	#smile{
		width: 100px;
	}

	.project{
		margin-top: 20px;
	}

	.description{
		background-color: black;
		opacity: 0;
		color: white;
		display: inline-block;
		width: 66.5%;
		height: 100%;
		padding: 10px;
		position: absolute;
	}

	button{
		border: 0px;
		background-color: transparent;
		font-family: 'Ropa Sans', sans-serif;
	}

	button:focus{
	    outline: 0;
	}

	.thumb{
		width: 70%;
		padding: 2px;
		background-color: rgb(90,90,90);
	}

	#gradpic{
		width: 80%;
	}

	#about-lg {
   		position: relative; 
   		overflow: hidden;
   	}

   	#about-screen-lg{
   		position: absolute;
		top: 0; left: 10%;
		background-color: rgba(0,0,0,.8);
		height: 100%;
		width: 80%;
   	}

   	#about-text-lg{
   		text-align: left;
   		color: white;
   		display: inline-block;
   		padding: 10% 20px;
   	}
}